[submodule "tools/trocto"]
	path = tools/trocto
	url = https://github.com/astrolunet/trocto.git
[submodule "docs"]
	path = docs
	url = https://github.com/astrolunet/docs.git
[submodule "contracts"]
	path = contracts
	url = https://github.com/astrolunet/contracts.git
